// Course index section spacing
.drawer-left {
    .drawerheader {
        .courseindexheading {
            margin: 0 auto;
            font-weight: bold;
        }
        .drawertoggle {
            margin-right: 0;
        }
    }
    .drawercontent {
        .courseindex-section {
            margin-bottom: 5px;
            background-color: $gray-100;
        }
        .courseindex {
            background-color: $white;
            padding-right: 0;
        }
    }
}
// Fix Bulk Select position.
.activity-item .bulkselect {
    position: absolute;
    left: -1.2rem;
}
.course-section-header .bulkselect {
    left: -1.2rem;
    position: relative;
    width: 0;
}

@media (max-width: 768px) {
    .bulkenabled .course-content {
        margin-left: 1.2rem;
    }
}

// Resize icons.
.activityiconcontainer.smaller {
    width: 37px;
    height: 37px;
    .activityicon {
        width: 20px;
        height: 20px;
    }
}
