// Fixes manual completion after adding div and class on activity_info.mustache
@media (min-width: 768px) {
    .activity-item .manual-completion {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 5px;
    }
}
// Course index section spacing
.drawer-left .drawercontent {
    .courseindex-section {
        margin-bottom: 5px;
        background-color: $gray-100;
    }
    .courseindex {
        background-color: $white;
        padding-right: 0;
    }
}